language: python
python:
  - "2.7"
  - "3.5"
env:
  - DJANGOVER=django18
  - DJANGOVER=django19
  - DJANGOVER=django110
# command to install dependencies
install: "pip install -r requirements.txt"
# command to run tests
script:
  - export TOX_ENV=py${TRAVIS_PYTHON_VERSION/./}-${DJANGOVER}
  - tox -r -e "$TOX_ENV"
